#container {
    width: 100%;
    margin: auto;
}

.my-photo img {
    width: 10rem;
    height: 11rem;
}

.nav-assignment ul {
    width: 22rem;
}

.nav-assignment  li {
    padding: .2rem;
}

.nav-assignment  li a {
    display: block;
    color: blue;
}

.nav-assignment a:hover {
    color: coral;
}
.validation-checker img {
    width: 6.25rem;
    height: 2.2rem;
}